<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active"  >Dating App</a>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul  class="navbar-nav mr-auto">
      <li *ngIf="loggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']">Matches</a>
      </li>
      <li *ngIf="loggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/lists']">Lists </a>
      </li>
      <li *ngIf="loggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']">Messages </a>
      </li>
      <li *ngIf="loggedIn()" class="nav-item dropdown show" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle>Welcome</a>
          <div class="dropdown-menu show" *dropdownMenu>
            <a [routerLink]="['/member/edit']" routerLinkActive="router-link-active"  class="dropdown-item"><i class="fa fa-user"></i> Edit Profile</a>
            <a (click)="logout()" class="dropdown-item"><i class="fa fa-sign-out"></i> Logout</a>
          </div>
        </li>
    </ul>
    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input name="username" [(ngModel)]="model.username" #username="ngModel" class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="Email" required>
      <input name="password" [(ngModel)]="model.password" #password="ngModel" class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password" required>
      <button [disabled]="!loginForm.valid" class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign In</button>
    </form>
  </div>
</nav>